{% load url from future %}
{% load i18n %}

<h1>Tasks</h1>

<a href="{% url 'add_task' %}">{% trans 'Add Action Item' %}</a>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Responsible</th>
            <th>Deadline</th>
            <th>Done</th>
        </tr>
    </thead>
    <tbody>
    {% for task in task_list %}
        <tr>
            <td><a href="{% url 'edit_task' task.id %}">{{ task.id }}</a></td>
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.responsible }}</td>
            <td>{{ task.deadline }}</td>
            <td>{{ task.is_done }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
